# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [130]:
def lesser_of_two_evens(a,b):
    
    if a % 2 == 0 and b % 2 == 0:#checks that both are even
        
        if a < b:#checks if a is lesser
            
            print(a)
            
        else:
            
            print(b)
            
    else:
        
        if a > b:#checks if a is bigger
            
            print(a)
            
        else:
            
            print(b)

In [131]:
# Check
lesser_of_two_evens(2,4)

2

In [132]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [134]:
def animal_crackers(text):
    
    words = text.split(" ",1)#splits the text to 2 words only
    
    return words[0][0] == words[1][0] #checks the 2 letters are the same and returns the resualt of the check

In [135]:
# Check
animal_crackers('Levelheaded Llama')

True

In [136]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [137]:
def makes_twenty(n1,n2):
    
    return n1 == 20 or n2 == 20 or n1 + n2 == 20 #checks if any of the conditions is done and returns the resault

In [138]:
# Check
makes_twenty(20,10)

True

In [139]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [140]:
def old_macdonald(name):#returns the word sliced and joined again after the capitalize using the +
    
    return name[0].capitalize() + name[1:3] + name[3].capitalize() + name[4:]

In [141]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [142]:
def almost_there(n):
    
    if  110 >= n >= 90:#checks if near 100
        
        return True
    
    elif 210 >= n >= 190:#checks if near 200
        
        return True
    
    return False

In [143]:

# Check
almost_there(104)

True

In [144]:
# Check
almost_there(150)

False

In [145]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [146]:
def has_33(nums):
    
    for i in range(1,len(nums)):#we start loop from the 2nd number in the array till the end
        
        if nums[i]==nums[i-1]==3:#and check if the the current number and the one before it are equal to each other and equal 3
            
            return True
        
    return False

In [147]:
# Check
has_33([1, 3, 3])

True

In [148]:
# Check
has_33([1, 3, 1, 3])

False

In [149]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [150]:
def paper_doll(text):
    
    new = str()# make a string
    
    for i in text:
        
        new = new + i * 3 #joins every letter after multiplying it 3 times with the last word
        
    return(new)

In [151]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [152]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [153]:
def blackjack(a,b,c):
    
    sums = a + b + c #where we make the first sum
    
    if sums <= 21: #first check of if it's less than or equal 21 and print it
        
        print(sums)
        
    else:
        
        if  a == 11 or b == 11 or c == 11: #if the first didn't happen we check if there is a 11 in them and reduce the value by 10
            
            sums -= 10

            if sums <= 21: #if after reduction it is in the range we print the sum if nut a 'bust'

                print(sums)

            else:

                print('bust')
                
        else:

                print('bust')

In [154]:
# Check
blackjack(5,6,7)

18

In [155]:
# Check
blackjack(9,9,9)

bust

In [156]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [157]:
def summer_69(arr):
    
    new = [0] #new array for the values to sum
    
    sep = [6,9] #an array where we seperate the ones between the 6 and 9
    
    for i in arr: #we go through all of the arr
        
        if i == 6 or sep[-1] != 9: #and check if we are standing at a 6 or the last number in the seprating array isn't a 9 
            
            sep.append(i) #if true we put the number in the seperating array
        
        else:
            
            new.append(i) #if not we add normaly to the new array and return the sum
            
    return sum(new)

In [158]:
# Check
summer_69([1, 3, 5])

9

In [159]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [160]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [161]:
def spy_game(nums):
    
    sep=[] #a list to seperate the 0's and the 7's
    
    for i in nums: #we go through all of the nums
        
        if i == 0 or i==7: #and check if the number is a 0 or a 7
            
            sep.append(i) #if true we put the number in the seperating array
            
    if len(sep)<3: #if the length of the array is less than 3 then it cannot have the 3 numbers so we return false 
        
        return False
    
    for i in range(2,len(sep)): #if we don't return the flase we get here and go through the new array starting from the 3rd number
        
        if str(sep[i-2]) + str(sep[i-1]) + str(sep[i]) == "007": #and check if the current number and the 2 before it as a joined string the same as "007"
            
            return True
        
    return False

In [162]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [163]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [164]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [165]:
def count_primes(num):
    
    count = 0 #a counter for the non prime numbers
    
    if num >= 1: #and if it is bigger than or equal to 1 we reduce it by 1 because 1 isn't a prime number
        
        count += 1
        
    for i in range(3,num+1):#we start at 3 and to the number we want to count up to because 2 is a prime number
        
        for k in range(2,i):#we check if the current number has 0 reminder with any number from 2 to the number before it
            
            if i % k == 0:
                
                count += 1
                
                break #we break on the first occerance of a count to avoid counting more than needed
    
    return num - count #we return the number - the count to get the number of primes in it

In [166]:
# Check
count_primes(100)

25

## Great Job!